@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 63, 65, 201; /* Seu azul #3F41C9 */
  --background-end-rgb: 63, 65, 201;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Isso vai ajudar a segurar o tamanho das imagens enquanto o Tailwind não carrega */
img {
  max-width: 100%;
  height: auto;
}
